#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-area {
  width: 100%
}

.buttons{
  margin: 2vmin;
}

.token {
  display: inline-block;
  margin: 2vmin 4px 4px 2vmin;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #454444;
  cursor: pointer;
}

.token-details-modal {
  position: 'fixed';
  top: '20%';
  left: '50%';
  transform: 'translate(-50%, 0)';
  background: '#fff';
  border: '1px solid #ccc';
  border-radius: '8px';
  padding: '20px';
  z-index: 1000;
  min-width: '250px'
}