#root {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.history {
  overflow-y: scroll;
  height: 50vh;
  padding:  2vmin;
  justify-content: center;
}

.tokenizer-app {
  padding: 2vmin;
  justify-content: center;
}

.text-area {
  width: 100%;
}

.buttons{
  margin: 2vmin;
}

.token {
  display: inline-block;
  margin: 2vmin 4px 4px 2vmin;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #454444;
  cursor: pointer;
}

.token-details-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(43, 43, 43, 0.6);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  min-width: 250px;
  backdrop-filter: blur(12px) saturate(160%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #fff;
}